:root {
  --primary: #240a4c;
  --bg: #09032f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;

  background-image: url("images/BG.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
} */

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.navbar-admin {
  display: flex;
  align-items: left;
  color: #a7a7a7;
  padding: 1.4rem 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-admin a {
  color: #a7a7a7;
  height: 44px;
  width: 44px;
}

.navbar-admin a:hover {
  color: #b74ff4;
  transition: 0.3s;
}

#hamburger-menu {
  display: inline-block;
  background-image: url(images/AdminLoginAfter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.adminBefore {
  width: 100%;
  height: 100%;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

#hamburger-menu:hover .adminBefore {
  opacity: 0;
}

.navbar-nav {
  position: absolute;
  font-size: large;
  font-weight: 300;
  left: -100%;
  background-color: #09032f;
  width: 30rem;
  height: 100vh;
  transition: 0.3s;
}

.navbar-nav.active {
  left: -15%;
  z-index: 99999;
}

.navbar-nav a {
  color: #a7a7a7;
  display: block;
  margin: 1.5rem;
  margin-left: 68%;
  padding: 0.5rem;
  size: 2rem;
}

#AdminSidebar {
  margin-left: 65%;
}

#jadwalAdmin {
  margin-top: 5%;
}

#log-out {
  color: #be2438;
  margin-top: 125%;
}

#log-out:hover {
  color: #ff0000;
}

.navbar-nav a:hover {
  color: #fff;
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.2s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.82);
}
